ion-header{
  --background:transparent;
  background: var(--ion-color-bg);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  ion-toolbar{
    --background:transparent;
  background: var(--ion-color-bg);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  }
}

#cabecalho{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 10px auto 10px;
  #logo-on{
    width: 60px;
    margin: 5px auto auto 20px;
  }

  ion-buttons{
    margin-right: 30px;
  }

  a{
    color:var(--ion-color-light);
    margin-right: 20px;
  }
}

h2{
  padding-left: 16px;
}

p{
  padding: 20px;
  line-height: 1.5;
}



ion-row{
  align-items: center;
  justify-content: center;
  display: flex;
}


ion-card {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ion-card img {
  width: 120px;
  height: auto;
  border-radius: 50%;
  padding-top: 16px;
}

ion-card-title{
  font-size: 20px;
  margin-top: 10px;
}

ion-card-content p{

  padding: 0;
  text-align: justify;
}
