// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-icon: #00B9B8;
  --ion-color-bg: #06B5F4;

  --ion-color-white: #ffffff;
  --ion-color-white-rgba: rgba(255, 255, 255, 0.5);

  --ion-color-primary: #51b8b7;
  --ion-color-primary-rgba: rgba(81, 184, 183, 0.5);

  --ion-color-secondary: #132540;
  --ion-color-secondary-tint: #2b3b53;

  --ion-color-tertiary: #cbc9c6;

  --ion-color-success: #0095B6;

  --ion-color-light: #f6f8fc;

  --ion-color-dark: #45484a;
  --ion-color-dark-tint: #585a5c;

  --ion-color-warning: #ff6f00;
  --ion-color-danger: #c5000f;
  --ion-color-delete: #E0115F;
  --ion-color-edit: #4169e1;

  --ion-color-cinza-claro: #F6F6F6;
  --ion-color-azul-claro: #C3D6E4;

  --ion-color-bg-claro: #F8F5F0;
  --ion-color-brow: #44484B;

  --ion-color-emerald: #50C878; /* Adicionado */
  --ion-color-coral: #FF6F61; /* Adicionado */

  --shadow: 0 4px 20px rgba(0, 0, 0, 0.1), 0 8px 30px rgba(0, 0, 0, 0.1);


}
