ion-header {
  height: 100px;
  background-color: var(--ion-color-bg);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  ion-toolbar {
    --background: transparent;
    box-shadow: none;
    border: none;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    h4 {
      font-size: 28px;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
  }
}

#logo {
  display: flex;
  justify-content: space-around;
  align-items: end;
  padding: 10px;
  // width: 20%;

  img {
    width: 50px;
    height: auto;
  }
}





ion-content{
  --background:transparent;
  background: url('../../assets/img/backgroundLight.png');
}

ion-card{
margin: 1rem auto;
width: 90%;
--background: var(--ion-color-dark);
border-radius: 5px;

  ion-card-content{

    ion-item{
      --background: var(--ion-color-dark);
    }

  ion-label{
--background: var(--ion-color-dark);
    margin-bottom: 20px;
    width: 40%;
  }

  ion-input{
    width: 50%;
  }
}
}


#buscaMed{
  width: 100%;
}



ion-footer{
  background: var(--ion-color-bg);


  ion-toolbar{
    --background:transparent;
    background: var(--ion-color-bg);
    border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;


    .links-footer{

      display: flex;
    justify-content: space-around;
    align-items: center;
    }

    a{
      color: var(--ion-color-light);
      font-size: 30px;
    }
  }
}

