ion-header{
  --background:transparent;
  background: var(--ion-color-light);

  ion-toolbar{
    --background:transparent;
    background: var(--ion-color-light);
  }

  ion-title{
    text-align: center;
color: var(--ion-color-secondary);
font-weight: 700;


  }
}



.logo-container {


  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  height: 50%;

  .logo {
    width: 200px; /* ajuste conforme necessário */
    height: auto;
  }

}

.imagem-zoom {
  overflow: hidden; /* Oculta qualquer parte da imagem que ultrapasse o contêiner */
  width: 100%; /* Defina a largura desejada do contêiner */
  height: 200px; /* Defina a altura desejada do contêiner */
  display: flex;
  justify-content: center;
  align-items: start;

}

.imagem-zoom img {
  width: 100px; /* A imagem ocupará toda a largura do contêiner */
  transition: transform 0.5s ease; /* Transição suave para o efeito de zoom */
  margin-top: 0;
  padding-top: 0;
}

.imagem-zoom:hover img {
  transform: scale(1.2); /* Aumenta a imagem em 20% ao passar o mouse */
}





ion-content{
  --background:transparent;
  background: var(--ion-color-secondary);

}

ion-button{
  --background:transparent;


}

ion-footer{
  --background:transparent;
  background: var(--ion-color-light);
}
